/**
 * Easy Font Icons -> Font Stylesheet
 * 
 * @author Leon Magee
 * @version 1.0.0
 * @since 1.0.0
 */

 
@font-face 
{
    font-family: 'ModernPictogramsNormal';
    src: url('fonts/modernpics-webfont.eot');
    src: url('fonts/modernpics-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/modernpics-webfont.woff') format('woff'),
         url('fonts/modernpics-webfont.ttf') format('truetype'),
         url('fonts/modernpics-webfont.svg#ModernPictogramsNormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face 
{
    font-family: 'heydings_iconsregular';
    src: url('fonts/heydings_icons-webfont.eot');
    src: url('fonts/heydings_icons-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/heydings_icons-webfont.woff') format('woff'),
         url('fonts/heydings_icons-webfont.ttf') format('truetype'),
         url('fonts/heydings_icons-webfont.svg#heydings_iconsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face 
{
    font-family: 'EntypoRegular';
    src: url('fonts/Entypo-webfont.eot');
    src: url('fonts/Entypo-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Entypo-webfont.woff') format('woff'),
         url('fonts/Entypo-webfont.ttf') format('truetype'),
         url('fonts/Entypo-webfont.svg#EntypoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face 
{
    font-family: 'HeydingsControlsRegular';
    src: url('fonts/heydings_controls-webfont.eot');
    src: url('fonts/heydings_controls-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/heydings_controls-webfont.woff') format('woff'),
         url('fonts/heydings_controls-webfont.ttf') format('truetype'),
         url('fonts/heydings_controls-webfont.svg#HeydingsControlsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face 
{
    font-family: 'Socialico';
    src: url('fonts/socialico-webfont.eot');
    src: url('fonts/socialico-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/socialico-webfont.woff') format('woff'),
         url('fonts/socialico-webfont.ttf') format('truetype'),
         url('fonts/socialico-webfont.svg#Socialico') format('svg');
    font-weight: normal;
    font-style: normal;
}

.mm_efi_mpn
{
    font-family: 'ModernPictogramsNormal' !important;
}

.mm_efi_hir
{
    font-family: 'heydings_iconsregular' !important;
}

.mm_efi_hcr
{
    font-family: 'HeydingsControlsRegular' !important;
}

.mm_efi_etr
{
    font-family: 'EntypoRegular' !important;
}

.mm_efi_soc
{
    font-family: 'Socialico' !important;
}